@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.quizz-container{
    width: 100%;
    min-height: 100vh;
    background-color:#141933;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quizz{
    min-height: 60vh;
    width: 70%;
    background-color: #141933;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #2FC9A5 3px solid;
    border-radius: 5px;
}
.question2{
    display: none;
}
.question3{
    display: none;
}
.question4{
    display: none;
}
.resultat{
    display: none;
}
.reponseCapitale{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border: 1px solid white;
    width: 400px;
    max-width: 250px;
    padding: 1rem;
    text-align: center;
    transition: ease-in-out 0.2s;
}
.reponseCapitale:hover{
    color: #2FC9A5;
    cursor: pointer;
    border: 1px solid #2FC9A5;
    transform: scale(1.1);
}
.questions{
    color:white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
}
.compteur{
    color: white;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color:white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
}
.repStyle{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.startContainer{
    min-height: 100vh;
    width: 100%;
    background-color: #141933;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 40vw;
    height: 40vh;
}
.start{
    width: 13vw;
    height: 13vh;
    position: absolute;
    top: 1rem;
    right: 0rem;
    transition: ease-in-out 0.5s;
}
.start:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.animationfade{
    animation: fade linear forwards 0.5s;
}
@keyframes fade {
    from{
        transform: translate(0);
    }to{
        transform: translate(-100vw);
    }
}
.restart{
    background: transparent;
    color: white;
    border: 1px solid #2FC9A5;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
    height: auto;
    border-radius: 5px;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    transition: ease-in-out 0.2s;
}
.restart:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 15px;
}